<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesMvc.styles.css" asp-append-version="true" />
    <style>
        body {
            background: #dcdcdc;
        }

        .body-container {
            padding: 50px;
            display: flex;
        }

        .sidebar {
            background: linear-gradient(45deg, #ffeb3b, #911b13);
            border: 2px solid #dc2317;
            color: #fff;
            padding: 15px;
            margin-right: 100px;
            width: 250px;
        }

        .sidebar p {
            margin: 0;
        }

        .navbar {
            background: linear-gradient(45deg, #911b13, #dc2317);
            border-bottom: 3px solid #ffeb3b;
        }

        .navbar-brand, .nav-link {
            font-family: 'Comic Sans MS', cursive, sans-serif;
            color: #fff !important;
        }

        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
        }

        .footer {
            background: linear-gradient(45deg, #dc2317, #911b13);
            border-top: 3px solid #ffeb3b;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }

        .footer a {
            color: #ffeb3b !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bootcamp: Movies List MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Experimental">Experimenting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Index">List of Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="FancyMovieList">Fancy Movie List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-container">
        <aside class="sidebar"> 
            <p><b>This Box is part of the Layout.</b></p>
            <p>What would happen if a BackEnd dev writes CSS?</p>
        </aside>
        <main role="main" class="pb-3 flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white">
        <div class="container">
            © 2024 - Bootcamp: Movies List MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>