@{
    ViewData["Title"] = "Home Page";
}

<h1>List of all movies</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Director</th>
            <th scope="col">Release Year</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Inception</td>
            <td>Christopher Nolan</td>
            <td>2010</td>
            <td>Sci-fi/Action</td>
            <td>24.99</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Inception</td>
            <td>Christopher Nolan</td>
            <td>2010</td>
            <td>Sci-fi/Action</td>
            <td>24.99</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Inception</td>
            <td>Christopher Nolan</td>
            <td>2010</td>
            <td>Sci-fi/Action</td>
            <td>24.99</td>
        </tr>
    </tbody>
</table>





