@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>Today is Thursday 8th of August 2024, I am learning ASP.NET MVC Core!</h3>
    
    @* <img src="/Images/meme.gif" /> *@
</div>
